<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ beacon_node_launchd_service_name }}</string>

  <key>WorkingDirectory</key>
  <string>{{ beacon_node_service_path }}</string>

  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>{{ beacon_node_launchd_max_open_files }}</integer>
  </dict>

  <key>ProgramArguments</key>
  <array>
    <string>{{ beacon_node_repo_path }}/build/nimbus_beacon_node</string>
    <string>--config-file={{ beacon_node_config_path }}</string>
{% if beacon_node_exec_layer_jwt_secret is defined %}
    <string>--jwt-secret={{ beacon_node_exec_layer_jwt_secret_path | mandatory }}</string>
{% endif %}
{% if beacon_node_suggested_fee_recipient is defined %}
    <string>--suggested-fee-recipient={{ beacon_node_suggested_fee_recipient | mandatory }}</string>
{% endif %}
  </array>

  <key>UserName</key>
  <string>{{ beacon_node_user }}</string>

  <key>GroupName</key>
  <string>{{ beacon_node_group }}</string>

  <key>KeepAlive</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>{{ beacon_node_log_path }}</string>

  <key>StandardOutPath</key>
  <string>{{ beacon_node_log_path }}</string>
</dict>
</plist>
