<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ beacon_node_logrotate_service_name }}</string>
  <key>ProgramArguments</key>
  <array>
	  <string>{{ beacon_node_logrotate_bin_path }}</string>
    <string>--state</string>
    <string>/var/lib/logrotate/logrotate.status</string>
	  <string>{{ beacon_node_logrotate_main_config }}</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StartInterval</key>
  <integer>{{ beacon_node_logrotate_service_interval_sec }}</integer>
</dict>
</plist>
