<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.status.beacon-node-build-unstable</string>

  <key>WorkingDirectory</key>
  <string>/Users/nimbus/data/beacon-node-mainnet-unstable</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/nimbus/data/beacon-node-mainnet-unstable/build.sh</string>
  </array>

  <key>UserName</key>
  <string>nimbus</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/beacon-node.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/beacon-node.out</string>
</dict>
</plist>
