{{ beacon_node_log_path }}
{
    rotate {{ beacon_node_logrotate_max_kept }}
    maxsize {{ beacon_node_logrotate_max_size }}
    hourly
    missingok
    notifempty
    delaycompress
    copytruncate
    compress
    dateext
    dateformat %Y%m%d_%H%M.
    extension log
}
