# logfilename                   [owner:group]  				        mode  count  size(KB)  when  flags [/pid_file] [sig_num]
{{ beacon_node_log_path }}      {{ beacon_node_user }}:{{ beacon_node_group }}  644   10     10000       *     J
